    @media (min-width: 1024px) {}
    
    @media (max-width: 1023px) {}
    
    @media (min-width: 740px) and (max-width: 1023px) {
        .ml-05 {
            margin-left: -0.5em !important;
        }
        #first-team {
            width: 90% !important;
            padding-bottom: 3em !important;
        }
        .roler {
            font-size: 30px !important;
            margin-bottom: 1em !important;
            margin-top: 0em !important;
            margin-left: -0.5em !important;
        }
        .list-part {
            width: 90% !important;
            padding-bottom: 3em !important;
        }
        .role {
            font-size: 1.6em !important;
            padding-top: 1em !important;
            padding-bottom: 1em !important;
            margin-left: -0.5em !important;
        }
        .position-btn {
            margin-top: 1em !important;
            margin-left: 0.3em !important;
            margin-right: 0.3em !important;
            margin-bottom: 1em !important;
        }
        .player-btn {
            width: 200px !important;
            height: 220px !important;
            margin: 0.5em !important;
        }
        .position-img {
            width: 225px !important;
        }
        /* women */
        .position-btn {
            width: 200px;
            height: 210px;
        }
        .sSize-players .player-btn {
            width: 210px !important;
            height: 210px !important;
        }
    }
    
    @media (max-width: 739px) {
        /* Start myUtd Page */
        .slider_my-utd {
            margin-top: 65px !important;
        }
        .my-utd_text_heading {
            max-width: 70% !important;
            padding-left: 20px !important;
            font-size: 1.7em !important;
        }
        .content_my-utd {
            width: 100% !important;
            max-width: 100%;
            padding: 0px 16px 28px !important;
        }
        .my-team {
            height: 240px !important;
        }
        .my-team .my-heading {
            padding-top: 130px !important;
        }
        .my-team .my-heading h2 {
            font-size: 1.1rem !important;
        }
        .my-btn a {
            font-size: 0.7em !important;
        }
        /* End myUtd Page */
        /* Start First team Men Page */
        #first-team {
            width: 96% !important;
            padding-bottom: 2em !important;
        }
        .roler {
            font-size: 18px !important;
            margin-bottom: 1em !important;
            margin-top: -1em !important;
            margin-left: 0.5em !important;
        }
        .roler::after {
            height: 2px !important;
            width: 110px !important;
        }
        .position-names {
            font-size: 1em !important;
            margin-left: 0.5em !important;
        }
        .position-btn {
            width: 100px !important;
            height: 130px !important;
            margin-top: 1em !important;
            margin-left: 0.1em !important;
            margin-right: 0.1em !important;
            margin-bottom: 1em !important;
        }
        .position-img {
            width: 148px !important;
        }
        .position-number {
            font-size: 14px !important;
        }
        .position-name {
            font-size: 12px !important;
        }
        .list-part {
            width: 90% !important;
            padding-bottom: 2em !important;
        }
        .role {
            font-size: 18px !important;
            padding-top: 1em !important;
            padding-bottom: 1em !important;
            margin-left: 0em !important;
        }
        .role::after {
            height: 2px !important;
            width: 120px !important;
        }
        .player-btn {
            width: 148px !important;
            height: 170px !important;
            margin: 0.5em !important;
        }
        /* End First team Men Page */
        /* START First team WOMAN Page */
        .player-btn,
        .sSize-players .player-btn {
            width: 135px !important;
            height: 139px !important;
            margin: 0.5em !important;
        }
        /* END First team WOMAN Page */
        .m-slider {
            margin-top: 60px !important;
            margin-bottom: 55px !important;
        }
    }