/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

 :root {
    --main-bg-color: brown;
    --basic-red: #b62f2f;
    --basic-black: #1A1A1A;
    --dirty-white: #F8F8F8;
    --basic-grey: #2A2A2A;
    --text-grey: #666666;
    --font-moments: 'Emojis', Arial, Helvetica, sans-serif;
}


/* Slider */

.slider {
    margin-top: 75px;
}

.forSlickSlider {
    display: flex;
    position: absolute;
    max-height: 665px;
}

.forSlickSlider .item {
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
}

.forSlickSlider .item img {
    width: 100%;
    margin: 0 auto;
    transition: all linear .4s;
}


/* center mode */


/* .forSlickSlider .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.64);
    transition: all linear .4s;
}

.forSlickSlider .slick-center img,
.forSlickSlider .slick-center .overlay {
    transform: scale(1.2);
}

.forSlickSlider .slick-center .overlay {
    opacity: 0;
} */


/* end center mode */


/* custome arrow */

.slider-previous,
.slider-next {
    font-size: 100px;
}


/* .forSlickSlider:hover~.slider-previous,
.forSlickSlider:hover~.slider-next {
    opacity: 0.3;
} */

.slider-previous,
.slider-next,
.slick-dots button {
    color: #1E1E1E;
}


/* end custome arrow */


/* custome slick dots */


/* .slick-dots {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    position: absolute;
    justify-content: center;
    margin: 0 auto;
    padding: 16px 0;
    list-style: none;
    bottom: 5%;
    right: 0;
    left: 0;
}

.slick-dots li {
    margin: 0 0 0 0.5rem;
    background-color: Transparent;
    border-radius: 50%;
}

.slick-dots button {
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #1E1E1E;
    opacity: 0.3;
}

.slick-dots li.slick-active button,
.slick-dots button:hover {
    background-color: #1E1E1E;
    color: #1E1E1E;
    opacity: 1;
} */


/* end custom slick dots */


/* End Slider */


/* Tickets */

.ticket-bg {
    background-image: url(https://wallpaperaccess.com/full/5962313.jpg);
}


/* End Tickets */


/* Moments */

.Moments {
    background-color: #f0f0f0;
    display: block;
    width: 100% !important;
    /* height: 744px !important; */
    padding-top: 18px;
}

.Moment_header {
    color: var(--text-grey);
    width: 1300px;
    /* height: 127px; */
    align-items: center;
    margin: auto;
}

.header_logo {
    display: block;
    width: 60px;
    height: 60px;
    margin: auto;
}

.header_tile {
    font-family: var(--font-moments);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    opacity: 0.7;
}

.Moment_slide.multiple-items {
    width: 1300px;
}

.Moment_slide {
    width: 1200px;
    display: flex !important;
    justify-content: center;
    margin: auto;
}

.Moment_slide.multiple-items {
    height: 470px;
}

.Moment_slide .items {}

.Moment_slide .items img {
    margin-top: 36px;
    /* margin-left: 35px; */
    /* border-radius: 5px 5px 0px 0px; */
    height: 330px;
    width: 290px;
}


/* End Moments */


/* Slider */

.items.slick-slide:hover {
    opacity: 0.9;
    transition: 0.4s;
    cursor: pointer;
}

.items.slick-slide {
    height: 360px;
    width: 320px;
}

.items>.describe,
.Moment_slide .items img {
    margin-left: 17.5px;
    margin-right: 17.5px;
}

.items>.describe {
    color: #000;
    text-align: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-family: var(--font-moments);
    /* opacity: 0.7; */
    height: 100px;
    width: 290px;
    background-color: #fff;
    /* border-radius: 0 0 5px 5px; */
    border-bottom: solid 2px #b62f2f;
}


/* End Slider */

.Moment_footer {
    display: flex;
    align-items: center;
    /* height: 60px; */
}

.Moment_footer>.footer_title {
    line-height: 100px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--font-moments);
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-grey);
}

.Moment_footer .footer_title:hover {
    color: var(--dirty-white);
}


/* Store */

h3.h3 {
    text-align: center;
    margin: 1em;
    text-transform: capitalize;
    font-size: 22px;
    opacity: 0.7;
    margin-top: 50px;
    font-weight: 550;
}

.container {
    font-family: var(--font-moments);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 0px;
}

.col-md-3.col-sm-6 {
    display: inline-block;
    width: 250px;
}

.product-image5 .pic-1,
.product-image5 .pic-2 {
    backface-visibility: hidden;
    transition: all .5s ease 0s
}

.product-grid5 {
    font-family: Poppins, sans-serif;
    position: relative;
    height: 300px;
    width: 250px;
}

.product-grid5 .product-image5 {
    overflow: hidden;
    position: relative
}

.product-grid5 .product-image5 a {
    display: block
}

.product-grid5 .product-image5 img {
    width: 100%;
    height: auto
}

.product-image5 .pic-1 {
    opacity: 1
}

.product-grid5:hover .product-image5 .pic-1 {
    opacity: 0
}

.product-image5 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0
}

.product-grid5:hover .product-image5 .pic-2 {
    opacity: 1
}

.product-grid5 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px
}

.product-grid5 .social li {
    display: block;
    margin: 0 0 10px;
    transition: all .5s
}

.product-grid5 .social li:nth-child(2) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(2) {
    opacity: 1;
    transform: translateY(0)
}

.product-grid5 .social li:nth-child(3) {
    opacity: 0;
    transform: translateY(-50px)
}

.product-grid5:hover .social li:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .2s
}

.product-grid5 .social li a {
    color: #fff;
    background: #413939;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: block;
    transition: .5s ease 0s;
    text-decoration: unset;
}

.product-grid5 .social li a:hover {
    color: #fff;
    background: #b62f2f;
}

.product-grid5 .select-options {
    color: #fff;
    background-color: var(--text-grey);
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
    margin: 0 auto;
    opacity: 0;
    display: block;
    position: absolute;
    width: 92%;
    left: 0;
    bottom: -100px;
    right: 0;
    transition: .5s ease 0s;
    border-radius: 4px;
}

.product-grid5 .select-options:hover {
    color: #fff;
    background-color: #b62f2f;
    text-decoration: none
}

.product-grid5:hover .select-options {
    text-decoration: unset;
    opacity: 1;
    bottom: 10px
}

.product-grid5 .product-content {
    padding: 20px 10px
}

.product-grid5 .title {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all .3s ease 0s
}

.product-grid5 .title a {
    text-decoration: unset;
    color: #b62f2f
}

.product-grid5 .title a:hover {
    color: #222
}

.product-grid5 .price {
    color: #222;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px
}

@media only screen and (max-width:990px) {
    .product-grid5 {
        margin-bottom: 30px
    }
}

html {
    font-family: 'Emojis', Arial, Helvetica, sans-serif;
}


/* #main {} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: var(--basic-red);
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 40%);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: fixed;
    text-transform: uppercase;
}

.header-logo {
    position: relative;
}

.header-logo {
    /* position: absolute; */
    float: left;
    margin: 7.5px 12px;
}

.header-logo img {
    width: 60px;
    height: 60px;
}

#nav {
    display: flex;
    align-items: center;
}

#nav .subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: var(--dirty-white);
    text-transform: uppercase;
}

#nav li a {
    color: var(--dirty-white);
    text-decoration: none;
    line-height: 75px;
    padding: 0 6px;
    font-weight: 550;
}

#nav li:hover .subnav {
    display: block;
    border-radius: 5px;
}

#nav>li:hover::after,

/* .search-btn:hover:after, */

.sign-items:hover::after {
    transform: scale(1);
}

#nav>li::after,

/* .search-btn::after, */

.sign-items::after {
    content: " ";
    display: block;
    height: 3.5px;
    background-color: var(--dirty-white);
    /* margin-top: 2px; */
    transform: scale(0);
    transition: all 0.5s;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

#nav .subnav li:hover {
    color: #000 !important;
    background-color: #ccc;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 40px;
}

.header-options {
    display: flex;
    align-items: center;
    float: right;
    line-height: 75px;
}

.header-options .search-btn,
.header-options select,
.header-options .header-sign {
    padding: 0 24px;
}

.header-options select {
    background-color: var(--basic-red);
    white-space: pre;
    color: var(--dirty-white);
}

.header-options select:not(:-internal-list-box) {
    overflow: visible !important;
}

.header-sign {
    display: flex;
}

.header-sign .sign-items {
    text-decoration: none;
    padding: 0 1em;
    color: var(--dirty-white);
}

.header-options .search-btn {
    color: #fff;
    font-size: 20px;
}

.header-options .search-btn:hover {
    opacity: 0.6;
    cursor: pointer;
}


/* slider */


/* .slider {

} */


/* CONTENT */

.content {
    margin-bottom: 120px;
}


/* CUP slider */

.content__cup {
    background-color: #fff;
    margin-top: 61px;
    margin-bottom: 51px;
}

.cup-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}

.cup-logo img {
    height: 50px;
}

.cups__slider {
    display: flex;
    justify-content: center;
}

.cups__slider .cup-items {
    display: inline-block;
    letter-spacing: 0;
    word-spacing: 0;
    font-size: x-small;
    white-space: normal;
    vertical-align: top;
}

.cups__slider .cup-items+.cup-items {
    border-left: 1px solid #E6E6E6;
}

.cup-items img {
    margin: 0 15px 0;
    vertical-align: bottom;
    /* text-align: center; */
    max-height: 120px;
}

.cup-items figcaption {
    text-align: center;
    width: 111px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.cup-items p {
    font-size: 1.3em;
    min-height: 42px;
}

.cup-items strong {
    margin-top: 15px;
    display: block;
    font-size: 2.2em;
}


/* footer */

.footer {
    background-color: #f0f0f0;
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    height: 120px;
    border-bottom: 1px solid #000;
    margin: 0 20px;
}

.footer-logo img {
    height: 60px;
    margin: 30px 20px;
}

.footer__social-links .social-list {
    font-size: 22px;
    display: inline-block;
    display: flex;
    align-items: center;
}

.footer__social-links .social-list a {
    color: #000;
    text-decoration: none;
    text-align: center;
    /* margin: 44px 20px; */
    border: solid 3px rgb(0, 0, 0);
    border-radius: 50%;
    padding: 0.4em;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
}

.footer__social-links .social-list a:hover {
    color: #ff2850;
    border: solid 3px #ff2850;
    opacity: 0.9;
}

.footer-sponsor {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #000;
    margin: 0 20px;
}

.sponsor__primary {
    display: flex;
    justify-content: center;
    height: 70px;
}

.sponsor__primary img {
    padding: 0 12px 12px;
    margin-top: 12px;
    opacity: 1;
}

.sponsor__secondary {
    text-align: center;
    max-width: 1000px;
    margin: 10px auto 0;
    list-style-type: none;
}

.sponsor__secondary ul li {
    display: inline-block;
}

.sponsor__primary img:hover,
.sponsor__secondary img:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sponsor__secondary img {
    padding: 0 12px 12px;
    margin-top: 12px;
    height: 40px;
    opacity: 1;
}

.footer-copyright {
    background-color: #f1f1f1 !important;
}

.footer_copyright_text {
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #000;
    opacity: 0.9;
    text-align: center;
}


/* Manager */

.manager {
    color: white;
    padding-top: 2em;
    padding-bottom: 1em;
}

.manager-image {
    width: inherit;
    display: flex;
    justify-content: center;
    background-color: #3F3F3F;
    padding-top: 3em;
}

.image-text {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.manager-image-items {
    flex-basis: 20%;
}

.image-name {
    text-transform: uppercase;
}

.site {
    padding-bottom: 1em;
    font-size: 1.9em;
    position: relative;
    top: -1.5em;
}

.site::after {
    display: block;
    content: " ";
    height: 3px;
    width: 150px;
    background-color: red;
}

.site-name {
    font-size: 1.6em;
    width: 70%;
}

.image-message {
    width: 70%;
    font-size: 1.5em;
    font-style: italic;
    font-weight: lighter;
}

.image-image {
    display: flex;
    align-self: flex-end;
}

.image-image img {
    width: inherit;
    align-self: flex-end;
}

.image-statics {
    display: flex;
    flex-direction: column;
}

.mana-match,
.loses,
.trophies {
    margin-bottom: 2em;
}

.manager-info {
    width: 60%;
    margin: 3em auto;
    color: black;
}

.info-bio {
    border-bottom: grey solid 1px;
}

.bio-title {
    text-transform: uppercase;
    color: grey;
}

.bio-text {
    text-transform: none;
}

.info-shortcut {
    display: flex;
    text-transform: capitalize;
}

.shortcut-items {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.sub-items {
    flex: 1;
}

.items-title {
    color: grey;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.items-date {
    font-size: 1.3em;
    color: red;
    margin-bottom: 0;
    margin-top: 0em;
    padding-bottom: 0;
    padding-top: 0;
}

.germany {
    position: relative;
    padding-right: 0.5em;
    width: 30px;
}

.small {
    font-size: smaller;
}


/* End Manager */