/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

:root {
    --main-bg-color: brown;
    --basic-red: #C70101;
    --basic-black: #1A1A1A;
    --dirty-white: #F8F8F8;
    --basic-grey: #2A2A2A;
    --font-moments: 'Emojis', Arial, Helvetica, sans-serif;
}

/* Moments */

.Moments {
    background-color: #1E1E1E;
    display: block;
    width: 1200px;
    height: 610px;
    padding: 45px 0px;
    margin: 0px 352px;
}

.Moment_header {
    color: #666666;
    width: 1200px;
    height: 127px;
    align-items: center;
}

.header_logo {
    display: block;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.header_tile {
    font-family: var(--font-moments);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.Moment_slide {
    display: flex !important;
    justify-content: center;
}

.Moment_slide .items img {
    border-radius: 5px;
    margin: auto;
    height: 258px;
    width: 360px;
}





