.container {
    margin-top: 80px;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card+.card {}

.card {
    margin: 10px 10px;
    border-radius: 10px !important;
    padding-bottom: unset;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.card-img {
    width: 100%;
    border-radius: 10px !important;
}

.card-title {
    font-size: 1rem;
    line-height: 1.38;
    font-family: SourceSansProRegular, Helvetica, sans-serif !important;
    text-transform: none;
    font-weight: 600;
}

.card-text {
    font-size: 13px;
    flex: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.card.bg-dark.text-white {
    height: auto;
    padding: unset;
    border: unset;
}

.un-border {
    border: unset !important;
    margin-bottom: unset !important;
}

.bg {
    font-size: 3em;
    text-transform: uppercase !important;
    color: #fff;
}

.bc {
    color: #fff;
    display: inline-block;
}

.icon {
    color: #6c757d!important;
}

.white {
    color: #fff !important;
}

.bottom-text {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.card-img-overlay {
    color: #fff;
    top: unset;
}

.card-title {
    font-size: 2rem;
    line-height: .88;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.card-title.bg {
    font-size: 70px;
}

.card-columns {
    display: flex;
}

.card.p-3 {
    padding: unset !important;
}

.card.mb-3.cs {
    width: auto;
    margin-bottom: unset !important;
}

.row.g-0 {
    margin-bottom: unset;
}

.card.mb-3.cs {
    padding: unset;
}

.max-height {
    height: 100%;
}