.container {
    margin-top: 80px;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card {
    margin: 10px 10px;
    border-radius: 10px !important;
    padding-bottom: unset;
    height: auto;
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.card-img {
    width: 100%;
    border-radius: 10px !important;
}

.card-title {
    font-family: SourceSansProRegular, Helvetica, sans-serif !important;
    text-transform: none;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 20px !important;
}

.container .card-group {
    color: black;
    text-decoration: unset;
}

.card-text {
    font-size: 13px;
    flex: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
}

.card.bg-dark.text-white {
    height: auto;
    padding: unset;
    border: unset;
}

.un-border {
    border: unset !important;
    margin-bottom: unset !important;
}

.bg {
    font-size: 3em;
    text-transform: uppercase !important;
    color: #fff;
}

.bc {
    color: #fff;
    display: inline-block;
}

.card-img-top {
    max-height: 268px;
}

.icon {
    color: #6c757d!important;
}

.white {
    color: #fff !important;
}

.bottom-text {
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.card-img-overlay {
    color: #fff;
    top: unset;
}

.card-title {
    font-size: 2rem;
    line-height: .88;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
}

.card-title.bg {
    font-size: 70px;
}

.card-columns {
    display: flex;
}

.card-columns .card {
    display: flex !important;
}

.card-img-top.anh_4 {
    max-height: 232px;
    overflow:hidden;
}

.card-img-top.anh_3 {
    max-height: 337px;
    overflow:hidden;
}

.img-fluid.rounded-start.cf {
    max-height: 299px;
    overflow: hidden;
    width: 100%;
}

.card.mb-1.cd {
    padding: unset !important;
    border-radius: 5px;
}

.card.p-3 {
    padding: unset !important;
}

.card.mb-3.cs {
    width: auto;
    margin-bottom: unset !important;
    padding: unset;
}


.row.g-0 {
    margin-bottom: unset;
}


.max-height {
    height: 100%;
}

.card-group {
    overflow-wrap: break-word
}
.card-body.max-height > .card-text {
    display: none;
} 



/* < 15.6 inch */
@media only screen and (max-width:1280px){
    .card-img-top.anh_3 {
        max-height: 216px;
        overflow: hidden;
    }

    .card-title {
        font-size: 16px !important;
    }
    .card-img-top.anh_4 {
        max-height: 142px;
        overflow: hidden;
    }
    .img-fluid.rounded-start.cf {
        max-height: 194px;
    }
}

/* IPAD RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .card-columns {
        display: flex;
        flex-wrap: wrap;
    }
    .card-columns .card {
        display: flex !important;
        flex-direction: row;
    }
    .card-img-top.anh_4 {
        max-width: 265px;
        max-height: 204px;
        overflow: hidden;
    }
    .card.mb-3.cs > .row.g-0{
        display: block!important;
    }
    .col-md-7 {
        max-width: unset !important;
    }
    .col-md-5 {
        max-width: unset !important;
    }
    .img-fluid.rounded-start.cf {
        max-height: 213px;
    }
}

/* Mobile */
@media only screen and (max-width:600px) {
    .card-columns {
        display: block !important;
    }
    .card-img-top.anh_4 {
        max-height: unset !important;
    }
}
