/* PC */

@media (min-width: 1024px) {
    #header .mobile-menu-btn {
        display: none;
    }
}


/* Tablet and mobile */

@media (max-width: 1023px) {
    /* #header {
        max-width: 820px;
    } */
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {}


/* Mobile */

@media (max-width: 739px) {
    #nav>li {
        display: block;
    }
}