.cart-container {}

.container {
    margin: 40px auto;
}

.guide {
	margin-top: 84px;
    display: flex;
    flex-wrap: wrap;
}
.guide > a {
	margin-left: 10px;
	font-size: 11px;
	text-decoration: unset!important;
	color: rgb(58, 52, 52);
}

.guide > a:hover{
    color: #0056b3;
    text-decoration: unset!important;
}

.title-cart {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
}

.title-cart>h1 {
    margin: auto;
    font-size: 42px !important;
    font-family: 'Bebas Neue', cursive;
}

.align-items-start {
    margin-bottom: unset;
}

.align-items-start>.col-1,
.align-items-start>.col-4 {
    font-weight: bolder;
    font-size: 16px;
    color: #000000;
}

.align-items-center {
    margin: 26px 0px;
}

.col-1 {
    font-size: 14px;
    padding: unset;
}

hr:not([size]) {
    color: #c3b5b5;
}

#clear-cart {
    color: #dc3545ed;
    border: 1px solid #dc3545;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    margin-top: -5px;
}

.trash {
    font-size: 20px;
    color: #dc3545;
    background-color: transparent;
}

.col-1.trash-button {
    display: flex;
    justify-content: center;
}

#clear-cart:hover {
    color: #fff;
    background-color: #dc3545;
}

.img-thumbnail {
    max-width: 29%;
    margin-bottom: 10px;
    border: unset;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: unset;
    margin-right: unset;
}

.form-control {
    display: block;
    width: auto;
    padding: .375rem 23px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 23px;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.align-items-end {
    display: flex;
    margin: unset;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1296px;
}

.coupon-form {
    display: flex;
    align-items: center;
    width: 50%;
}

.col-3.cs-3 {
    display: flex;
    justify-content: center;
    height: 45px;
    margin: 0px 62px;
}

input {
    width: 62%;
    background-color: #ced4da;
}

.col-1.cs-1 {
    display: flex;
    justify-content: center;
    height: 32px;
    border: 1px solid #b62f2f;
    border-radius: 5px;
    line-height: 29px;
    color: #b62f2f;
    width: auto;
    padding: 0 10px;
}

.col-1.cs-1:hover {
    background-color: #b62f2f;
    color: #fff;
}

.subtotal {
    width: auto;
    line-height: 45px;
}

.row.submit-button {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.col-4>a {
    display: flex;
    text-decoration: unset;
    color: #000000;
}

.col-4>a>p {
    text-decoration: unset;
    padding: 23px;
    font-size: 15px;
}

.col-4>a>p:hover {
    color: #b62f2f;
}

.col-4>a {
    height: 100px !important;
    transition: width 0.5s, height 0.5s;
}

.col-4>a:hover {
    height: 120px !important;
}

.col-2.cs-2 {
    display: flex;
    justify-content: space-evenly;
    padding: unset;
    width: 20%;
}

.col-5.hd-5,
.col-1.hd-1 {
    width: auto;
    margin: 0 5px;
}

.col-5.hd-5>a {
    text-decoration: unset;
}

#back-shop {
    height: 40px;
    line-height: 40px;
    border: 1px solid gray;
    color: gray;
}

#back-shop:hover {
    color: #fff;
    background-color: gray;
}

#update-cart {
    color: #fff;
    background-color: rgb(80, 105, 173);
    border: unset;
    height: 40px;
    line-height: 40px;
    opacity: 0.7;
}

#checkout-cart {
    color: #fff;
    background-color: rgb(22, 131, 22);
    border: unset;
    height: 40px;
    line-height: 40px;
    opacity: 0.7;
}

#checkout-cart:hover,
#update-cart:hover {
    opacity: 1;
}

.bc-1 {
    margin-right: 7px;
    line-height: 41.5px;
}

.bc-2 {
    margin-left: 7px;
    line-height: 41.5px;
}


/* IPAD RESPONSIVE */
@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .container {
        margin: 50px auto;
    }

    .col-3.cs-3 {
        margin: 0px 88px;
    }

    .ip {
        margin-left: 10px;
    }

    .col-2.cs-2 {
        width: 38%;
    }

    .col-4>a>p {
        padding: unset;
        font-size: 11px;
    }
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width:600px) {

    .title-cart {
        margin: 60px 0;
    }

    .row.align-items-start {
        display: flex;
        justify-content: space-around;
    }

    #clear-cart,
    .discount-title,
    .subtotal-title,
    .quantity-title,
    .product-title,
    .col-4,
    .col-1 {
        font-size: 11px !important;
    }

    #clear-cart {
        color: #dc3545ed;
        border: 1px solid #dc3545;
        border-radius: 5px;
        height: 26px;
        width: 67px;
        margin-top: -5px;
    }

    .col-1 {
        width: 20%;
    }

    .row.align-items-center>.col-1 {
        margin-bottom: 7px;
    }

    .number_quantity {
        margin-left: -6px;
        margin-right: 1px;
    }

    .col-4 {
        width: 100%;
    }

    .col-4>a {
        display: flex;
        justify-content: center;
    }

    .col-4>a>p {
        font-size: 14px;
    }

    .product-title.col-4 {
        width: 25%;
    }

    .product-title {
        display: none;
    }

    .row.align-items-end {
        display: block;
    }

    .coupon-form {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .subtotal {
        direction: rtl;
        margin-top: 15px;
    }

    .col-5.hd-5 {
        display: none;
    }

    .col-2.cs-2 {
        width: 100%;
        display: block;
    }

    #update-cart,
    #checkout-cart {
        width: 100%;
        margin: 15px 0;
    }

    .mr-1 {
        margin-left: 10px;
    }

}